@model IEnumerable<Project.Models.ApplicationUser>


@if (User.Identity.IsAuthenticated)
{


<div id="messageSite">
    @foreach (var item in Model)
            {

        <h4>@Html.ActionLink(item.UserName, "ShowConversation", "Message", routeValues: new { username = item.UserName }, htmlAttributes: new { })</h4>
                <hr />
    }
</div>
}
