@model IEnumerable<Project.Models.ApplicationUser>

@if (User.Identity.IsAuthenticated)
{


<div class="col-md-10">
    <h2>Send a message</h2>
    <hr />
    <div class="col-md-4">
            <ul class="nav nav-pills nav-stacked">
                <li>@Ajax.ActionLink("Write a message", "ReturnForm", "Message", new AjaxOptions
               {
                   InsertionMode = InsertionMode.Replace,
                   UpdateTargetId = "MessageView"
               })</li>
                @foreach (var item in Model)
                {
                    <li>@Ajax.ActionLink(item.UserName, "PartialConversation", "Message", new { username = item.UserName }, new AjaxOptions
                   {
                       InsertionMode = InsertionMode.Replace,
                       UpdateTargetId = "MessageView",
                       HttpMethod = "Post"
                   })
                </li>
                }
            </ul>
    </div>
    <div class="col-md-8" id="MessageView">
        @Html.Partial("_MessageForm")
    </div>
</div>
}
else
{
    <h2>You need to be logged in to send messages</h2>
}