@model IEnumerable<Project.Models.Message>

<div class="col-md-10">
    <h2>Messages</h2>
    <hr />
    <div class="col-md-4">
        @Html.Partial("_ProfileSideBar")
    </div>

    <div class="col-md-8">
        @foreach (var item in Model)
        {
            
            <h4>From: @item.FromUser</h4>
            <p>@item.Headline</p>
            <p style="white-space:pre-line;">@item.Content</p>
            <hr />
        }
    </div>
</div>