@model IEnumerable<Project.Models.Message>

<div class="col-md-10">
    <h1 style="font-weight:bold;">Messages</h1>
    <hr />
    <div class="col-md-4">
        <ul class="nav nav-pills nav-stacked" style="overflow:hidden;">
            <li><a href="~/Manage/Index">Start</a></li>
            <li><a href="~/Account/ChangeProfile">Change profile</a></li>
            <li><a href="~/Manage/ChangePassword">Change Password</a></li>
            <li class="active" style="font-size:30px;"><a href="~/Message/ShowMessages">Messages</a></li>
        </ul>
    </div>

    <div class="col-md-8">
        @foreach (var item in Model)
        {
            
            <h4>From: @item.FromUser</h4>
            <p>@item.Headline</p>
            <p style="white-space:pre-line;">@item.Content</p>
            <hr />
        }
    </div>
</div>