
@*<table class="table-bordered table-hover table-responsive table-striped col-md-12" style="font-size:17px;">
    <tr>
        <th class="col-md-8">Forum posts</th>
        <th class="col-md-2">Posted by</th>
        <th class="col-md-2">Date</th>
    </tr>
</table>*@
    @foreach (var item in Model)
    {
        <ul class="col-md-10 col-md-offset-1" style="border:ridge; list-style:none;">
            <li style="margin-bottom:3px; margin-top:3px;">Posted by: @item.PostedBy</li>
            <li style="margin-bottom:3px;">Date: @item.DatePosted</li>
            <li style="margin-bottom:3px;">@item.ForumPost</li>
        </ul>
    }
