

    @foreach (var item in Model)
    {
        <ul class="col-md-10 col-md-offset-1" style="border:ridge; list-style:none;">
            <li style="margin-bottom:3px; margin-top:3px;">Posted by: @item.PostedBy</li>
            <li style="margin-bottom:3px;">Date: @item.DatePosted</li>
            <li style="margin-bottom:3px;">@item.ForumPost</li>
        </ul>
    }
