@{ 
    var day = DateTime.Now.DayOfWeek;
    var date = DateTime.Now.Day;
    var month = DateTime.Now.Month;
    var year = DateTime.Now.Year;
}

<footer class="nav navbar-fixed-bottom text-center col-md-12"
        style="background-color:black;">
    <p style="color:white;">Today is @day the @date/@month - @year </p>
</footer>
