<footer class="nav navbar-fixed-bottom text-center col-md-12"
        style="background-color:burlywood;">
    <p style="color:white;">Todays date is: @DateTime.Now.ToString("yyyy-MM-dd") || &copy; Adam Grahm</p>
</footer>
