@using Microsoft.AspNet.Identity
@using Project.Models

@{
    var i = new LoginViewModel();
}
@if (Request.IsAuthenticated)
{
    <ul class="nav navbar-nav navbar-right">
        <li>
            <button type="button" class="btn btn-success" style="margin-top:8px;" data-toggle="modal" data-target="#searchModal">Search</button>


            @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
            {
                @Html.AntiForgeryToken()

                <ul class="nav navbar-nav navbar-right list-inline">
                    @if (User.IsInRole("Admin"))
                    {
                        <li>@Html.ActionLink("Admin Tools", "Index", "Users", routeValues: null, htmlAttributes: new { })</li>
                    }


                    <li>
                        @Html.ActionLink("Profile", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
                    </li>
                    <li><a href="javascript:document.getElementById('logoutForm').submit()">Log out</a></li>
                </ul>

            }
    </ul>

}
else
{
    @Html.Partial("_NotLoggedIn", i)

}

<div id="searchModal" class="modal fade" data-backdrop="false" role="dialog">
    <div class="modal-dialog">

        <div class="modal-content">
            <div class="modal-header">

                @using (Ajax.BeginForm("ModalSearch", "Users", new AjaxOptions { InsertionMode = InsertionMode.Replace, UpdateTargetId = "modalbody" }))
                {
                    <div class="form-group">
                        <input type="text" class="form-control" name="searchstring" placeholder="Search..." />
                    </div>
                                <div class="form-group">
                                    <input type="submit" class="btn btn-sm btn-info" value="Search!" />
                                </div>
                }
            </div>
            <div class="modal-body" id="modalbody">
                <p>Search for a user in the field above...</p>
            </div>
            <div class="modal-footer" style="margin-top:60px;">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>


