@model IEnumerable<Project.Models.Thread>

<div id="ForumSite">
    <table class="table-bordered table-responsive table-striped col-md-12" style="font-size:19px;">
        <tr>
            <th class="col-md-3 col-md-offset-1">Thread</th>
            <th class="col-md-3 col-md-offset-1">Posted by</th>
            <th class="col-md-3 col-md-offset-1">Date</th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td class="col-md-3 col-md-offset-1">@Html.ActionLink(item.Headline, "SelectedPost", new { id = item.Id })</td>
                <td class="col-md-3 col-md-offset-1">@item.PostedBy</td>
                <td class="col-md-3 col-md-offset-1">@item.DatePosted</td>
            </tr>
        }
    </table>
</div>

