@model IEnumerable<Project.Models.ApplicationUser>

@if (User.IsInRole("Admin"))
{

    <div id="AdminPage2">
        <table class="table-bordered table-hover table-striped col-md-12">
            <tr>
                <th class="col-md-3">Username</th>
                <th class="col-md-3">Email</th>
            </tr>

            @foreach (var item in Model.OrderBy(x => x.UserName))
            {
                <tr style="height:40px;">
                    <td>
                        @Ajax.ActionLink(item.UserName, "FindUser", "Users", new { username = item.UserName }, new AjaxOptions
                   {
                       InsertionMode = InsertionMode.Replace,
                       UpdateTargetId = "AdminPage"
                   })
                       
                    </td>
                    <td class="col-md-3">@item.Email</td>
                    
                    
                </tr>
            }
        </table>
        <div id="AdminPage">
        </div>

    </div>
}
