
@{ 
    int i = 0;
}




    @foreach (var thing in Model)
    {
        i++;
        <div class="col-md-12">
           
            <span style="font-weight:bold; font-style:italic;">#@i by </span>
            <span style="font-weight:bold; font-size:15px;">
            @*<a href="#">@thing.PostedBy</a>*@
                @Html.ActionLink("hrj", "DirectToUser", "Users", new { username = thing.PostedBy }, new { })
            </span>
        </div>
            <div class="col-md-12">
                <span style="font-style:italic; margin-bottom:40px;"> @thing.PostedDate</span>
            </div>
            <div class="col-md-12">
                <p style="white-space:pre-line;">@thing.Reply</p>
                <hr style="border-color:grey; color:grey; background-color:grey;" />
            </div>

    }

