@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Locked Out";
}

<div class="col-md-8 col-md-offset-2">
    <hgroup>
        <h1 class="text-danger">You have been locked out!</h1>
        <h3 class="text-danger">Contact Admin if you want to know more:</h3>
        <h4><label>Email: </label><span class="text-danger"> Admin@Admin.Admin</span></h4>
    </hgroup>
</div>