#login-dp{
    min-width: 250px;
    padding: 14px 14px 0;
    overflow:hidden;
    /*background-color:rgba(255,255,255,.8);*/
    background-image:url(/Images/PapierBeige.jpg);
}

#login-dp .bottom{
    background-color:rgba(255,255,255,.8);
    border-top:1px solid #ddd;
    clear:both;
    padding:14px;
}

#nav-dp{
    min-width: 250px;
    padding: 14px 14px 0;
    overflow:hidden;
    background-color:black;
}

#nav-dp span {
    color:white;
}

#nav-dp .bottom{
    background-color:rgba(255,255,255,.8);
    border-top:1px solid #ddd;
    clear:both;
    padding:14px;
}

#loggedin-dp{
    
    min-width: 250px;
    padding: 14px 14px 0;
    overflow:hidden;
    background-color:black;
}

#loggedin-dp span {
    color:white;
}

#loggedin-dp .bottom{
    background-color:rgba(255,255,255,.8);
    border-top:1px solid #ddd;
    clear:both;
    padding:14px;
}

