@model IEnumerable<Project.Models.Groups>


@if (Model != null)
{


    foreach (var item in Model)
    {
        <p>@item.Groupname</p>

        if (item.UsersInGroups != null)
        {
            foreach (var user in item.UsersInGroups)
            {
                <p>@user.FirstName</p>
            }
        }

        @Ajax.ActionLink("Join", "JoinGroup", "Group", new { groupname = item.Groupname }, new AjaxOptions {
        InsertionMode = InsertionMode.Replace, UpdateTargetId = "GroupIndex"} , new { @class = "btn btn-link" })
    }
        }
        else
        {

<h2>You are not a member of any group</h2>
}