@model Project.Models.ApplicationUser



<div class="col-md-3">
    <ul class="nav nav-stacked nav-pills hidden-xs hidden-sm" style="border-right:ridge;" id="BlogsAside">
        <li><br /></li>
        <li><a href="~/Home/Index">Home</a></li>
        <li><a href="~/Blog/Index">Filmreviews</a></li>
        <li><a href="~/Forum/Index">Forum</a></li>
        <li><a href="~/Message/Message">Messages</a></li>
        <li><a href="~/Manage/Index">Your profile page</a></li>
    </ul>
</div>

<div class="col-md-9" id="UserProfile">
    @Html.Partial("_UserProfile")
</div>

