@model IEnumerable<Project.Models.ApplicationUser>
@if (User.Identity.IsAuthenticated)
{
    <div class="col-md-8 col-md-offset-2">

        @if (Model.Count() > 0)
        {
            <br />
            <h3>Search results for "@ViewBag.Message"</h3>
            <hr />
                <ul class="nav nav-pills nav-stacked">
                    @foreach (var item in Model)
                    {
                        <li>@Html.ActionLink(item.UserName + " || " + item.City + "," + item.Country, "DirectSearch", "Users", routeValues: new { username = item.UserName }, htmlAttributes: new { })</li>
                        <li><br /></li>
                    }
                </ul>
        }
        else
        {
            <h3>There are no user matching "@ViewBag.Message"</h3>
        }



    </div>

}

