@model IEnumerable<Project.Models.ApplicationUser>

@if (ViewBag.ErrorMessage != null)
{
    <h2>@ViewBag.ErrorMessage</h2>
}
@if (Model != null)
{
    <div class="col-md-10">

        <div class="col-md-3">

            <ul class="nav nav-pills nav-stacked" style="border-right:ridge;" id="BlogsAside">
                @foreach (var item in Model)
                {
                    <li>
                        @Ajax.ActionLink(item.UserName, "SelectedUser", "Users", new { username = item.UserName }, new AjaxOptions
                   { InsertionMode = InsertionMode.Replace, UpdateTargetId = "UserProfile" })
                </li>
                }
            </ul>
        </div>
        <div class="col-md-9" id="UserProfile">

        </div>
    </div>
}

