@model IEnumerable<Project.Models.Thread>

<div id="ForumSite">
    <table class="table-bordered table-responsive table-striped col-md-12" style="font-size:19px;">
        <tr>
            <th>Thread</th>
            <th>Author</th>
            <th>Date</th>
        @if (User.IsInRole("Admin") || User.IsInRole("Moderator"))
            {
            <th>Remove</th>
            }
        </tr>
        @foreach (var item in Model)
        {

            <tr>
                <td>@Html.ActionLink(item.Headline, "SelectedPost", new { id = item.Id })</td>
                <td>@item.PostedBy</td>
                <td>@item.DatePosted</td>
                @if (User.IsInRole("Admin") || User.IsInRole("Moderator"))
                {
                    <td>@Html.ActionLink("Delete", "DeleteThread", "Forum", new { threadId = item.Id }, new { @class = "btn btn-danger" })</td>
                }
            </tr>
        }
    </table>
</div>

