@using Project.Models
@model IEnumerable<Project.Models.Thread>

@{
    ViewBag.Title = "Index";
    var i = Model;
    
}
@if (User.Identity.IsAuthenticated)
{


    <div>
       <hr style="border-color:black; color:black; background-color:black;" />
        @using (Ajax.BeginForm("SearchForum", new AjaxOptions
        {
            InsertionMode = InsertionMode.Replace,
            UpdateTargetId = "ForumSite",
            HttpMethod = "Post"
        }, null, htmlAttributes: new { @class = "col-xs-5" }))
        {
            
                <div class="form-group">
                    <input type="text" placeholder="Search for thread" class="form-control" name="searchstring" />
                </div>
                <div class="form-group">
                    <input type="submit" value="Search" class="btn btn-success" />
                </div>
            
        }
        <!--Posting to the forum-->
       
        @using (Ajax.BeginForm("Index", new AjaxOptions
        {
            InsertionMode = InsertionMode.Replace,
            HttpMethod = "Post",
            UpdateTargetId = "ForumSite"
        }, null, htmlAttributes: new { @class ="col-xs-5 col-xs-offset-2" }))
        {
            

                
                <div class="form-group col-xs-12" style="margin-bottom:50px;">
                    <input type="text" class="form-control col-md-8" name="headline" placeholder="Enter a headline...." required />
                </div>
                <div class="form-group col-xs-12">
                    <input type="submit" class="btn btn-info" value="Create thread" />
                </div>

          

        }
    </div>
    
    <!--Showing all the threads-->
@Html.Partial("_PartialForum")
}
else
{
    <h2>You need to be logged in to acces the forum</h2>
    @Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { @class = "btn btn-info" })
}