@using Project.Models
@model Project.Models.Thread
@{
    var context = new ApplicationDbContext();
    var i = context.ThreadPost.Where(u => u.Thread.Id == Model.Id);

}
    @if (ViewBag.ErrorMessage != null)
    {
        <script>
            window.alert("Användaren finns inte längre")
        </script>
    }
<br />
<h2>@Model.Headline</h2>

<hr />
@Html.Partial("_ChoosenThread", i)
<div class="col-md-9 col-md-offset-1">
    
<br />

    @if (User.Identity.IsAuthenticated)
    {
        <h4>Create a new post in @Model.Headline</h4>
        using (Html.BeginForm("NewForumPost", "Forum", new { id = Model.Id }, FormMethod.Post))
        {
    <div class="form-group">
        <textarea class="form-control" placeholder="Write your post..." style="height:250px;" name="forumpost"></textarea>
    </div>
    <div class="form-group">
        <input type="submit" class="btn btn-info btn-lg" value="Post!" />
    </div>
}}

@Html.ActionLink("Back to the forum", "Index", null, new { @class = "btn btn-info" })

</div>