@model IEnumerable<Project.Models.Blog>

<div class="col-md-8 col-md-offset-2">
    <h1>Latest filmreview</h1>
    <hr />
    <br />
    @foreach (var item in Model)
    {
        <img src="@item.ImageURL" style="max-height:200px; margin-bottom:20px;" class="col-md-3" />
            <h2 id="@item.Id" class="col-md-9">@item.Headline</h2>

            <p>@item.Post</p>
        <hr class="col-md-12" />
    }

</div>
