@model IEnumerable<Project.Models.Blog>
@if (User.Identity.IsAuthenticated)
{
    int i = 0;

    <div style="padding-top:20px;" id="Top">

        <h1>Filmreviews</h1>
        <hr style="background-color:black; border-color:black; color:black;" />
        <!--ONLY ADMINS-->
        @if (User.IsInRole("Admin"))
        {
            @Html.ActionLink("Create a new blogpost", "NewBlogPost", null, new { @class = "btn btn-info btn-lg" })
            <hr style="background-color:black; border-color:black; color:black;" />
        }
        <div class="col-md-12">
            <div class="col-md-6">
                @using (Ajax.BeginForm("Search", "Blog", new AjaxOptions
                {
                    UpdateTargetId = "Blogs",
                    HttpMethod = "Post",
                    InsertionMode = InsertionMode.Replace
                }))
                {
                    <div class="form-group">
                        <input type="text" placeholder="Serach for a filmreview..." name="moviename" class="form-control" />
                    </div>
                    <div class="form-group">
                        <input type="submit" class="btn btn-success" value="Search" />
                    </div>

                }
            </div>
        </div>

        <br />

        <div class="col-md-3 col-md-offset-1 hidden-xs hidden-sm" style="float:right;" id="BlogsAside">
            <ul class="nav nav-pills nav-stacked sideList">
                <li><h3>Blogposts</h3></li>
                @foreach (var item in Model.Reverse())
                {
                    i++;
                    <li><a href="#@item.Id">#@item.Id - @item.Headline</a></li>
                    }

            </ul>
        </div>

        <div class="col-md-8">
            @Html.Partial("_PartialBlogs")
        </div>
        <br>
    </div>
}
