@model IEnumerable<Project.Models.Blog>


    <div class="col-md-10" style="padding-top:20px;" id="Top">

        <h1>Filmreviews</h1>
        <hr />
        <!--ONLY ADMINS-->
        @if (User.IsInRole("Admin"))
        {
          
        <!-- Trigger the modal with a button -->
        <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">New filmreview</button>

        <!-- Modal -->
        <div id="myModal" class="modal fade" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h2 class="modal-title">Add a post</h2>
                    </div>
                    <div class="modal-body">
                        <form method="post" action="@Url.Action("BlogPosted", "Blog")" style="padding-top:50px;" class="form-group form-horizontal col-md-8">
                            <div class="form-group" style="margin-bottom:50px;">
                                <input type="text" class="form-control col-md-8" name="headline" placeholder="Enter a headline...." required />
                            </div>
                            <div class="form-group" style="margin-bottom:50px;">
                                <input type="text" name="pic" class="form-control col-md-8" placeholder="Enter an imageURL..." required />
                            </div>
                            <div class="form-group">
                                <textarea placeholder="Write a post..." class="form-control col-md-8" name="post" style="height:200px;" required></textarea>
                            </div>
                            <div class="form-group">
                                <input type="submit" class="btn btn-success btn-lg" value="Add Post" />
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        
                    </div>
                </div>

            </div>
        </div>
        }


        <br />

        <div class="col-md-4 hidden-xs hidden-sm" id="BlogsAside">
            <ul class="nav nav-pills nav-stacked sideList">
                <li><h3>Blogposts</h3></li>
                @foreach (var item in Model.Reverse())
                {
                    <li><a href="#@item.Id">#@item.Id - @item.Headline</a></li>
                    }

            </ul>
        </div>

        <div class="col-md-8">

                    @using (Ajax.BeginForm("Search", "Blog", new AjaxOptions
                {
                    UpdateTargetId = "Blogs",
                    HttpMethod = "Post",
                    InsertionMode = InsertionMode.Replace
                }))
                {
                        <div class="form-group">
                            <input type="text" placeholder="Serach for a filmreview..." name="moviename" class="form-control" />
                        </div>
                        <div class="form-group">
                            <input type="submit" class="btn btn-success" value="Search" />
                        </div>

                    }

            @Html.Partial("_PartialBlogs")
        </div>
        <br>
    </div>

