@if (User.IsInRole("Admin"))
{
    <div style="padding-top:60px;">

        <!--ONLY ADMINS-->
        @Html.ActionLink("Back to blog", "Index", "Blog", null, new { @class = "btn btn-lg btn-info", @style = "float:left;" })
        <form method="post" action="@Url.Action("BlogPosted", "Blog")" style="padding-top:50px;" class="form-group form-horizontal col-md-8">
            <h2>Add a post</h2>
            <div class="form-group" style="margin-bottom:50px;">
                <input type="text" class="form-control col-md-8" name="headline" placeholder="Enter a headline...." required />
            </div>
            <div class="form-group">
                <textarea placeholder="Write a post..." class="form-control col-md-8" name="post" style="height:200px;" required></textarea>
            </div>
            <div class="form-group">
                <input type="submit" class="btn btn-success btn-lg" value="Add Post" />
            </div>
        </form>



    </div>
}
